html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

body {
  background: url('../assests/bg.png') no-repeat center top / cover;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Navbar */
.custom-navbar {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.custom-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.custom-nav-link {
  font-size: 1.15rem;
  font-weight: 500;
  color: #ffffff !important;
  margin-right: 1.5rem;
  transition: 0.3s;
}
.custom-nav-link:hover,
.custom-nav-link.active {
  color: #ffda79 !important;
  text-shadow: 0 0 8px #fff;
}

/* Hero */
.hero-section {
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(5px);
}


#searchedText {
  border: 1px solid #fff;
  color: white;
  background-color: rgba(32, 30, 30, 0.4);
}
.nav-link.active,
.nav-link:hover {
  color: #000000 !important;
}

#searchedText:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5)
}
#searchedText::placeholder {
  color: white;
  opacity: 1;
}
.footer {
  background-color: #111;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer a {
  color: #fff;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #ffda79;
  text-decoration: underline;
}

.footer h5 {
  margin-bottom: 1rem;
}

.footer img {
  max-width: 80px;
}

@media (max-width: 768px) {
  .footer h5 {
    text-align: center;
  }
  .footer ul {
    padding-left: 0;
  }
}



@media (max-width: 991px) {
  .custom-nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  form.d-flex {
    flex-direction: column;
    gap: 0.5rem;
  }
}


